body{
    font-family: 'Teko', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}
.color{
    color: orange;
}
.top-banner{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.hw11{
    width: 60%;
    padding-right: 5%;
    padding-left: 5%;
}
.hw12{
    width: 40%;
}
.hw12 img{
    width: 90%;
    height: 90%;
    padding-top: 8%;
}
.button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange tomato);
    color: white;
    font: 700;
    padding: 10px 40px;
    border-radius: 15px;
    
}
.hw21{
    width: 30%;
}
.hw21 img{
    width: 90%;
    height: 90%;
    padding: 10%;
}
.hw22{
    width: 60%;
    padding-left: 100px;
    padding-top: 100px;
}
.dream{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 0;
    
}
.follow{
    text-decoration: none;
    background-image: linear-gradient(orange cyan);
    background-color: orange;
    padding: 10px 40px;
    border-radius: 15px;
    font: 700;
    color: white;
}
.experence{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.new-ex{
    display:flex;
    margin: 0;
}    
.baby{
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 10px 50px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left:20px;
    padding-right: 20px;
}
#new-exid{
    border-left: 7px solid;
    border-image: linear-gradient(cyan green) ;
    border-image-slice:1 ;
}

